<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        <header><%- include('./partials/navbar.ejs') %></header>
        <article>
            <%- include('./partials/title.ejs') %>
            <%- include('./partials/404.ejs') %>
        </article>
        <%- // include('./partials/footer.ejs') %>
    </body>

</html>

